header
{
    font-size: 25px;
    padding: 10px 15px;
    border-bottom: 2px solid black;
    flex-direction: column;
    background-color: #ffffffc1;

}

#input-div
{
    border-style: none;
    width: 300px;
    font-family: Helvetica Neue;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 200px;
    margin-left: -400px;
}

#input-div * {
    width: 100%;
}