header
{
    font-size: 25px;
    padding: 10px 15px;
    border-bottom: 2px solid black;

}

#input-div
{
    border-style: none;
    height: 45px;
    width: 150px;
    font-family: Helvetica Neue;  
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-div * {
    width: 100%;
}